$space-large: 2.5rem;
$title-color: rgb(17, 147, 135);

#app{
  height: 100vh;
}
.page-title{
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-color;
}

input[type=search]{
  box-shadow: none;
}
